<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Course Schedule</title>
  <link rel="stylesheet" type="text/css" href="static/css/syllabus.css"
   media="screen"/> 
  <link rel="stylesheet" type="text/css" href="static/css/syllabus-print.css"
   media="print"/> 

</head>

<body>
<h1>Schedule</h1>

<table class="class-schedule">
  {% for entry in session.schedule %}
  {% if loop.index is divisibleby 2 %}
  <tr class="even">
  {% else %}
  <tr class="odd">
  {% endif %}
    {% if entry.current > 0 %}
    <td class="current">{{ entry.week }}</td>
    {% else %}
    <td class="week">{{ entry.week }}</td>
    {% endif %}
    <td class="topic">{{ entry.topic }}</td>
    <td class="project">{{ entry.project}}</td>
  </tr>
  {% endfor %}
  



</table> </body> </html>
