<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>ACP Controle Times</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
   </script>

  <!-- <script type="text/javascript"  -->
  <!--    src="/static/js/calc.js"> -->
  <!-- </script> -->
</head>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/calc.css" />

<body>
<!-- bootstrap requires a 'container' div around content -->
<div class="container">

<h1>ACP Brevet Closing times</h1>

  <!--
  -- If there are any warnings or other messages from a prior
  -- request to the server, 
  -- they appear above the rest of the content, just until the next 
  -- action.  (This is only on request/response transactions that
  -- result in regenerating the page, not on every xmlhttp request.) 
  -->

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<!-- Design on bootstrap grid -->
<form role="form">
<div class="input1">
    <div class="row">
        <div class="col-md-2">
            <p>Brevet Distance:</p>
        </div>
        <div class="col-md-2">
            <select id = "selDistance">
                <option value = "200">200</option>
                <option value = "300">300</option>
                <option value = "400">400</option>
                <option value = "600">600</option>
                <option value = "1000">1000</option>
            </select>
             km
        </div>

    </div>

    <div class="row">
        <div class="col-md-2">
            <p>Starting Date:</p>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control"
                name="sdate" value="YYYY/MM/DD"/>
        </div>
    </div>
    <p></p>
    <div class="row">
        <div class="col-md-2">
            <p>Starting Time (24 Hour Format):</p>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control"
                name="stime" value="HH:MM"/>
        </div>
    </div>
    <p></p>
</div>

<hr>

<div class="input2">
    <div class="row">
        <div class="col-md-2">
            <p>Input distances are in:</p>
        </div>
        <div class="col-md-2">
            <select id = "selUnit">
                <option value = "km">km</option>
                <option value = "miles">miles</option>
            </select>
        </div>

    </div>

    <div class="row">
        <div class="col-md-2">
            <p>Display output distances in:</p>
        </div>
        <div class="col-md-2">
            <select id = "selUnitOutput">
                <option value = "km">km</option>
                <option value = "miles">miles</option>
            </select>
        </div>
    </div>
    <p></p>
    <div class="row">
        <div class="col-md-2">
            <p>Display output dates as:</p>
        </div>
        <div class="col-md-2">
            <select id = "selDateOutput">
                <option value = "MM/DD">MM/DD</option>
                <option value = "DD/MM">DD/MM</option>
            </select>
        </div>
    </div>
    <p></p>
</div>

<hr>

<div class="default">
    <div class="row-md-2">
        <form role="form" id="complete"></form>

    </div>
    <div class="row">
        <div class="col-md-2">
            <span class="times form-control">0 (Start)</span>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control"
                name="location" value="location" />
        </div>
            <div class="col-md-4">
            <span class="times form-control">0:00 - 1:00</span>
        </div>
    </div>
    <p></p>
    <div class="row">
        <div class="col-md-2">
            <input type="text" class="form-control"
                name="miles" value="Distance" />
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control"
                name="location" value="location" />
        </div>
            <div class="col-md-4">
            <span class="times form-control">(Open - Close)</span>
        </div>
    </div>
    <p></p>
</div>
</form>

<form role="form" id="form-holder"></form>

<!--<form role="form" id="button-holder">-->
    <!--<div class="buttonclass">-->
        <!--<div class="col-md-2">-->
            <!--<button type="button" id="addrow">Add Checkpoint</button>-->
        <!--</div>-->
        <!--<div class="col-md-2">-->
            <!--<button type="button" id="removerow">Remove Checkpoint</button>-->
        <!--</div>-->
    <!--</div>-->
<!--</form>-->

<script type="text/javascript">
    $(document).ready(function() {
        var template =
            '<div class="row">'+
                '<div class="col-md-2">'+
                    '<input type="text" class="form-control" name="miles" value="Distance" />'+
                '</div>'+
            '<div class="col-md-4">'+
                '<input type="text" class="form-control" name="location" value="Location"/>'+
            '</div>'+
            '<div class="col-md-4">'+
                '<span class="times form-control">(Open - Close)</span>'+
            '</div>'+
        '</div>'+
        '<p></p>';
        var $par = $('#form-holder');

        var template2 = '<p class="completion">' + 'The list is not complete' + '</p>';
        var $par2 = $('#form-holder');

        // A function to add rows
        function addRow() {
            $par.append($(template));
        }

        $('button[id="addrow"]').click(
            function(){
                addRow();
        });

        var num_rows = 23;
        for (var i = 0; i < num_rows; i++) {
            addRow();
            showGreyText();
        }
        function showGreyText(){
            $('input:text').each(
                function(){
                    $(this)
                        .val($(this).attr('value'))
                        .css('color','#999');
                    $(this).click(
                        function(){
                            if ($(this).val() === $(this).attr('value')){
                                $(this)
                                    .val('')
                                    .css('color','#000');
                            }
                        });
                    $(this).blur(
                        function(){
                            if ($(this).val() === ''){
                                $(this)
                                    .val($(this).attr('value'))
                                    .css('color','#999');
                            }
                        });
                });
        }
        showGreyText();

    });
</script>

<script type="text/javascript">
$(document).ready(function(){

});
</script>

<script type = "text/javascript">

    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    $(document).ready(function(){
        $('select[id="selUnit"]').change(
            // ... execute this function
            function(){
                var unit = $(this).val();
                //alert("Got a response: " +  distance);
                $.getJSON($SCRIPT_ROOT + '/_update_unit',
                    // The object to pass to the server
                    { unit : unit },
                    // The function to call with the response
                    function(data) {
                        var times = data.result;

                    });
            });
    });
 </script>

<script type = "text/javascript">

    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    $(document).ready(function(){
        $('select[id="selDistance"]').change(
            // ... execute this function
            function(){
                var distance = $(this).val();
                //alert("Got a response: " +  distance);
                $.getJSON($SCRIPT_ROOT + '/_update_length',
                    // The object to pass to the server
                    { distance : distance },
                    // The function to call with the response
                    function(data) {
                        var times = data.result;

                    });
            });
    });
 </script>

<script type="text/javascript">

  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

  $(document).ready(function(){
   // Do the following when the page is finished loading

      // When a field named 'miles' is changed ...
      $('input[name="miles"]').change(
          // ... execute this function
          function(){
              var e_miles = $(this).val();

              var target = $(this).parents(".row").find(".times");

              // DEBUG: How do I replace the 'times' field?
              // alert("Content of the field I want to change: " +
              //   target.html());

              // AJAX request
              if (e_miles.match(/[a-z]/i)) {
              // alphabet letters found
                  alert("The value entered into the checkpoint field was not a number: '" + e_miles +
                               "'. Please try entering a valid number.");
                  target.text("(Open - Close)");
                  $(this).val("");
              } else if (e_miles === "") {
                  target.text("(Open - Close)");
              } else {

                $.getJSON($SCRIPT_ROOT + '/_calc_times',
                  // The object to pass to the server
                  { miles: e_miles },
                  // The function to call with the response
                  function(data) {
                     var times = data.result;
                     //alert("Got a response: " +  times);
                     if (times === "miles too low") {
                        alert("The number entered into the checkpoint field was below 0.\n" +
                               "Please try entering a valid number.");
                        //target.text("(times)");
                     } else if (times === "miles too high") {
                        var selDistance = document.getElementById("selDistance");
                        var dis = selDistance.value;
                        alert("The last control point (" + e_miles + " km) is over 20% longer than" +
                               " the theoretical distance (" + dis + " km).");

                     } else {
                        target.text(times);
                     }
                     var selDistance = document.getElementById("selDistance");
                     var dis = selDistance.value;
                     if (e_miles === dis) {

                     }

                  }); // End of the call to getJSON
              }
          });  // End of the function to be called when field changes


     });   // end of what we do on document ready

</script>



</div>
</body> </html>
